<div class="container">          
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Branch</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        <!--Student-1-->
        <tr>
          <td>John</td>
          <td>1</td>
          <td>CSE</td>
          <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
        </tr>
        <!--Student-2-->
        <tr>
            <td>Nani</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-3-->
          <tr>
            <td>Suma</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-4-->
          <tr>
            <td>Ssb</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-5-->
          <tr>
            <td>Praveen</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-6-->
          <tr>
            <td>Ravi</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-7-->
          <tr>
            <td>Guddu</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-8-->
          <tr>
            <td>Akhil</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-9-->
          <tr>
            <td>Megh</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
          <!--Student-10-->
          <tr>
            <td>Gaya</td>
            <td>1</td>
            <td>CSE</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_OHMD5QjQk46Nge25NbteILTKXjyYeObgA&usqp=CAU"></td>
          </tr>
      </tbody>
    </table>
  </div>
